.maintenance_mode_wall {
    transition: all 1s;
}
.maintenance_mode_wall_content {
    transition: all 1s;
}

.menu {
    transition: all .5s;
}
.menu_content {
    transition: all .5s;
}
.photo_gallery_overlay {
    transition: height .2s ease;
}
.photo_gallery_column:hover .photo_gallery_overlay {
    height: 100%;
}
.photo_gallery_column:hover {
    cursor: pointer;
}
.navbar_links {
    transition: all .5s;
}
.navbar_links:hover {
    background-color: white;
    border: white solid 10px;
    max-width: 120px;
    min-width: 120px;
    color: black;
}
.navbar_links:hover .navbar_links_current {
    background-color: #191b24;
    border: #191b24 solid 10px;
    max-width: 75px;
    min-width: 75px;
    color: white;
}