@media screen and (max-width: 700px) {
    .navbar_mobile {
        display: block;
    }
    .navbar_desktop {
        display: none;
    }
    .banner_text {
        top: 50%;
        left: 5%;
        right: 8%;
        /*-ms-transform: translate(-50%);
        transform: translate(-50%);*/
    }
    .banner_text_header {
        font-size: 42px;
    }
    .banner_text_subheader {
        font-size: medium;
    }
}
@media screen and (max-width: 400px) {
    main {
        padding-left: 14px;
        padding-right: 14px;
    }
    .title_with_button a {
        right: 14px;
    }
}
@media screen and (min-width: 401px) and (max-width: 800px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
    }
    .title_with_button a {
        right: 10%;
    }
}
@media screen and (min-width: 801px) {
    main {
        padding-left: 20%;
        padding-right: 20%;
    }
    .title_with_button a {
        right: 20%;
    }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
    .photo_gallery_column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .photo_gallery_column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}